.banner{
    max-width: 45rem;
    height: 6rem;
    margin: auto;
    border-radius: 0.5rem;
    background-color: bisque;
    align-items: center;
    justify-content: space-between;
}
.banner__text{
margin-left: 1.25rem;
font-weight: 600;
}
.banner__button{
    margin-right: 1.25rem;
    border: none;
    background-color:coral;
    height: 2rem;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    color: aliceblue;
    font-weight: 500;
}
@media screen and (max-width:768px) {
    .banner{
        display: block;
        height: 7rem;
    }
    .banner__text{
        margin-top: 1.25rem;
        padding-top: 1.25rem;
        line-height: 1.5;
        font-size: 0.8rem;
    }
    .banner__button{
        height: 1.5rem;
        font-size: 0.6rem;
        margin-left: 1.25rem;
        margin-top: 0.75rem;
    }
}